<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ book.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Add/Edit book</h1>
            <form action="{{ url_for('book_save', book_id=book.id) }}", method="POST">
                <div class="form-row">
                    <div class="col">
                        <label for="AuthorInput">Author:</label>
                        <input type="text" id="AuthorInput" class="form-control" value="{{ book.author }}" name="author" required>
                    </div>
                    <div class="col">
                        <label for="TitleInput">Title:</label>
                        <input type="text" id="TitleInput" class="form-control" value="{{ book.title }}" name="title" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="mt-2">
                            {% if not book.tags %}
                            <label for="TagsInputEmpty">Tags:</label>
                            <input type="text" id="TagsInputEmpty" class="form-control"  value=""  name="tags" required>
                            {% else %}
                            <label for="TagsInput">Tags:</label>
                            <input type="text" id="TagsInput" class="form-control"  value="{% for tag in book.tags %}{{ tag }} {% endfor %}"  name="tags" required>
                            {% endif %}
                            <small id="TagsHelp" class="form-text text-muted">Use space-separated tags</small>
                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    {% if book.id != 'new' %}
                    <a href="{{ url_for('book_details', book_id=book.id) }}" class="btn btn-outline-primary">Back</a>
                    {% else %}
                    <a href="{{ url_for('index') }}" class="btn btn-outline-primary">Back</a>
                    {% endif %}
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>